@{
    ViewBag.Title = "Home Page";
}

@section scripts{
<script src="~/Scripts/knockout-3.1.0.js"></script>
<script src="~/Scripts/knockout.mapping-latest.js"></script>
<script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script>
        function ExclModel() {
            var self = this;
            self.Lists = ko.observableArray();
            self.TypeOptions = ko.observableArray();
            self.SelectedChoice = ko.observable();
            self.LoadDetails = function (item) {
                //alert(item.ListId());
                self.Lists.selectedId = item.ListId();
                $.ajax({
                    type: 'POST',
                    url: 'Home/ItemDetails',
                   
                    contentType: "application/json;charset=utf-8",
                    data: ko.mapping.toJSON(self.Lists),
                    success: function (allData) {
                        
                        ko.mapping.fromJS(allData, {}, self.Lists);
                        self.TypeOptions = self.Lists.Types();
                       
                        console.log(self.TypeOptions);
                      
                        $('#divList').hide();
                        $('#divResults').show();

                    }

                });


            };
            $.ajax({
                url: 'Home/IndexData',//self.addressSearchApi,
                type: 'GET',
                async: false,
                success: function (result) {
                    console.log(result);
                    self.Lists = ko.mapping.fromJS(result);
                    self.TypeOptions = self.Lists.Types();
                 
                }
            });

        };


        $(document).ready(function () {
            var em = new ExclModel();
            ko.applyBindings(em);
        });
    </script>
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

 <div class="row" id="divList">
    <table class="table">
        <tbody data-bind="foreach:Lists.LineItems ">
            <tr>
                <td><a data-bind="text: ListName, click: $parent.LoadDetails"></a></td>
                <td><input type="button" value="Delete" /></td>
                <td><input type="button" value="Edit" /></td>
            </tr>

        </tbody>
        
    </table>
</div>

<div class="row" id="divResults">
    <table class="table">
        <tbody data-bind="foreach:Lists.ItemDetails ">
            <tr>
                <td data-bind="text: FirstName"></td>
                <td data-bind="text: LastName"></td>
                <td data-bind="text: State"></td>
                <td data-bind="text: License"></td>
                <td><select data-bind="options: $parent.TypeOptions, optionsText: 'Description', value: ListType"></select> </td>
                <td data-bind="text: ListType"></td>
                <td><input type="button" value="Delete" /></td>
                <td><input type="button" value="Edit" /></td>
            </tr>

        </tbody>

    </table>
</div>